In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [2]:
df=pd.read_csv('C:/Users/SUBASH/Desktop/gapminder-FiveYearData.csv')

In [3]:
df

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [4]:
df.shape()

TypeError: 'tuple' object is not callable

In [5]:
print(df.shape)

(1704, 6)

In [6]:
df.columns

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [7]:
df.dtypes

country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB

In [10]:
countrynames=df['country']

In [11]:
countrynames

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [15]:
subset=df[['country','year']]
print(subset)

          country  year
0     Afghanistan  1952
1     Afghanistan  1957
2     Afghanistan  1962
3     Afghanistan  1967
4     Afghanistan  1972
...           ...   ...
1699     Zimbabwe  1987
1700     Zimbabwe  1992
1701     Zimbabwe  1997
1702     Zimbabwe  2002
1703     Zimbabwe  2007

[1704 rows x 2 columns]

In [16]:
df.loc[0]

country      Afghanistan
year                1952
pop            8425333.0
continent           Asia
lifeExp           28.801
gdpPercap     779.445314
Name: 0, dtype: object

In [17]:
df.iloc[0]

country      Afghanistan
year                1952
pop            8425333.0
continent           Asia
lifeExp           28.801
gdpPercap     779.445314
Name: 0, dtype: object

In [29]:
df.loc[2:5]

       country  year         pop continent  lifeExp   gdpPercap
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106
5  Afghanistan  1977  14880372.0      Asia   38.438  786.113360

In [31]:
#iloc used for indexing excludes last index
#loc for indexing incloding last index and conditions
display([df.continent=='Asia'])

[0        True
 1        True
 2        True
 3        True
 4        True
         ...
 1699    False
 1700    False
 1701    False
 1702    False
 1703    False
 Name: continent, Length: 1704, dtype: bool]

In [32]:
df.loc[df.continent=='Asia']

          country  year         pop continent  lifeExp    gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801   779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332   820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997   853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020   836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088   739.981106
...           ...   ...         ...       ...      ...          ...
1675   Yemen Rep.  1987  11219340.0      Asia   52.922  1971.741538
1676   Yemen Rep.  1992  13367997.0      Asia   55.599  1879.496673
1677   Yemen Rep.  1997  15826497.0      Asia   58.020  2117.484526
1678   Yemen Rep.  2002  18701257.0      Asia   60.308  2234.820827
1679   Yemen Rep.  2007  22211743.0      Asia   62.698  2280.769906

[396 rows x 6 columns]

In [33]:
small=[0,1,2]
df.iloc[:,small]

          country  year         pop
0     Afghanistan  1952   8425333.0
1     Afghanistan  1957   9240934.0
2     Afghanistan  1962  10267083.0
3     Afghanistan  1967  11537966.0
4     Afghanistan  1972  13079460.0
...           ...   ...         ...
1699     Zimbabwe  1987   9216418.0
1700     Zimbabwe  1992  10704340.0
1701     Zimbabwe  1997  11404948.0
1702     Zimbabwe  2002  11926563.0
1703     Zimbabwe  2007  12311143.0

[1704 rows x 3 columns]

In [34]:
df.loc[42,'country']

'Angola'

In [36]:
df.groupby('year')['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64